@import "../../../../../bower_components/foundation/scss/normalize";
@import "../../../../../bower_components/foundation/scss/foundation/components/grid";
@import "fonts";

$default-padding: 16px;

html, body {
  height: 100%;
}

html, html a {
  @include font-regular();
  font-size: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}

.page-row {
  display: table-row;
  height: 1px;
}

body > header {
  width: 100%;
  background: url('../img/angle-top-light.png') no-repeat right bottom;

  img.logo {
    width: 10%;
    min-width: 100px;
    max-width: 150px;
    height: auto;

    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 50px;
  }
}

body > main.page-row {
  height: 100%;
  width: 100%;
}

body > footer {
  .footer-angle-separator {
    width: 100%;
    height: 50px;
    background: url('../img/angle-top-dark.png') no-repeat right bottom;
  }

  .footer-content {
    color: #eee;
    background-color: #333;

    a {
      color: #eee;
    }

    dl.sitemap {
      dt {
        @include font-bold();
        font-size: 1.1em;
      }
    }

    .footer-product-notice {
      text-align: center;
      font-size: 0.85em;
      padding-bottom: $default-padding;

      p {
        color: #aaa;
        margin: 0;

        img {
          height: 1.5em;
          max-height: 32px;
          width: auto;

          padding-left: 0.5em;
          padding-right: 0.5em;
        }
      }
    }
  }
}

// home stuff
.idea-overview {
  padding: $default-padding / 2;
  background: #ffdc54 url('../img/angle-mid-light.png') no-repeat right bottom;
  min-height: 200px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .idea {
    float: left;
    background-color: #fff;

    margin: $default-padding / 2;

    .idea-icon {
      img {
        width: 70px;
        height: auto;
        margin: $default-padding;

        border: 2px solid #ffdc54;

        border-radius: 35px;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;



        float: left;
      }
    }

    .idea-description {
      width: 400px;

      header {
        @include font-bold();
        font-size: 1.1em;
      }
      margin: $default-padding $default-padding $default-padding 0;
    }
  }
}


.bottom-angle-separator {
  width: 100%;
  height: 50px;
  background: url('../img/angle-bottom-light.png') no-repeat right bottom;
}

.about {
  text-align: center;
}

// idea stuff
.idea-detail-wrapper {
  background: #ffdc54 url('../img/angle-mid-light.png') no-repeat right bottom;
  min-height: 200px;
  padding: $default-padding;
}

.idea-detail {
  background-color: #fff;
  padding: $default-padding;

  .row {
    margin: 0;
    max-width: 100%;
  }

  .title {
    @include font-bold();
    font-size: 1.1em;
  }

  .statistics {

    &.popularity {

    }

    &.activity {

    }

    &.status {

    }

    .statistics-title {
      @include font-bold();
      font-size: 0.9em;
      color: #bbb;
      text-transform: uppercase;
    }

  }
}


