<div class="idea-overview">
    <article class="idea" idea-card-directive idea="ideaController.idea" detail="true" />
</div>

<div class="bottom-angle-separator"></div>

<div class="row">
    <div class="small-12 large-8 columns">
        <h2>Latest updates</h2>
        <dl>
            <dt>2015/05/29</dt>
            <dd>Lorem ipsum</dd>

            <dt>2015/05/30</dt>
            <dd>Lorem ipsum</dd>
        </dl>
    </div>
    <div class="small-12 large-4 columns">
        <h2>Comments</h2>

        <ul>
            <li>Some comment</li>
            <li>Another comment</li>
        </ul>
    </div>
</div>