.gradle/
.idea/
*.iml
el-bombillo-ui/build
el-bombillo-ui/node_modules
el-bombillo-ui/bower_components
*.d.ts
.tscache
*.tmp.txt
*.log
.sass-cache
el-bombillo-ui-gateway/build
el-bombillo-ms-idea/build
el-bombillo-service-registry/build
el-bombillo-user-service/build