<div class="idea-overview">
    <article class="idea" ng-repeat="idea in home.ideas">
        <div class="row">
            <div class="idea-icon">
                <a href="#/idea/1"><img src="../img/unknown.jpg"/></a>
            </div>
            <div class="idea-description">
                <header>{{ idea.title }}</header>
                <section class="description">{{ idea.description }}</section>
            </div>
        </div>
        <div class="row status">
            <section class="popularity small-12 large-4 columns">{{ idea.popularity }}</section>
            <section class="activity small-12 large-4 columns">{{ idea.activity }}</section>
            <section class="status small-12 large-4 columns">{{ idea.status }}</section>
        </div>
        <div class="row">
            <section class="tags small-12 large-6 columns">
                <ul>
                    <li ng-repeat="tag in idea.tags">{{ tag }}</li>
                </ul>
            </section>
            <section class="members small-12 large-6 columns">
                <ul>
                    <li ng-repeat="member in idea.members">{{ member.name }}</li>
                </ul>
            </section>
        </div>
    </article>
</div>

<div class="bottom-angle-separator"></div>

<aside class="about row">
    <h2>What is this about?</h2>

    <p>
        El Bombillo is all about innovation. It's a platform for your ideas - where you can find supporters and contributors.
    </p>
</aside>