<div class="idea-card">
    <div class="row">
        <div class="idea-icon small-12 large-2 columns">
            <a href="#/idea/{{ id }}">
                <img ng-if="!idea.icon" src="../img/unknown.jpg"/>
                <img ng-if="idea.icon" src="{{ idea.icon }}"/>
            </a>
        </div>
        <div class="idea-description small-12 large-10 columns">
            <header class="title">{{ idea.title }}</header>
            <section class="description">{{ idea.description }}</section>
        </div>
    </div>
    <div class="idea-statistics row">
        <section class="statistics-section popularity small-12 large-4 columns">
            {{ idea.popularity }}
            <span class="statistics-title">Popularity</span>
        </section>
        <section class="statistics-section activity small-12 large-4 columns">
            {{ idea.activity }}
            <span class="statistics-title">Activity</span>
        </section>
        <section class="statistics-section status small-12 large-4 columns">
            {{ idea.status }}
            <span class="statistics-title">Status</span>
        </section>
    </div>
    <div class="row">
        <section class="small-12 large-6 columns">
            <ul class="horizontal-list">
                <li class="tag" ng-repeat="tag in idea.tags">{{ tag }}</li>
            </ul>
        </section>
        <section class="small-12 large-6 columns">
            <ul class="horizontal-list">
                <li ng-repeat="member in idea.members">{{ member.name }}</li>
            </ul>
        </section>
    </div>
</div>
